[mysqld]
# As to run as non root user(to drop privelages after start - technically i already did it here: exec mysqld --user=mysql --console)
user = mysql

# Allow connections from any IP (important for Docker internal networking) - #  Allow external access (for WordPress container)
bind-address = 0.0.0.0

# MariaDB default port - #  Explicitly expose default MySQL port
port = 3306
